@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* shared styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

html {
  font-size: 16px;
}

:root {
  --bg-color: black;
  --header-gradient-color: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(119, 119, 119, 0) 100%
  );
  --motivation-bg-color: #222222;
  --tooltip1-bg-color: rgba(255, 255, 255, 0.1);
  --tooltip2-bg-color: rgba(48, 48, 48, 0.54);
  --secondary-bg-color: #e6533c;
  --color-white: white;
  --section-para-color: rgba(255, 255, 255, 0.5);
  --tooltip-para-color: rgba(255, 255, 255, 0.65);
}

body {
  background-color: var(--bg-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main > section,
footer {
  margin-top: 100px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.primary-btn {
  padding: 16px 46.5px;
  color: var(--color-white);
  background-color: var(--secondary-bg-color);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;
  border: none;
  cursor: pointer;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
}

.section-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  color: var(--color-white);
  margin-bottom: 14px;
}

.section-des {
  max-width: 670px;
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  color: var(--section-para-color);
  margin-bottom: 58px;
}

/* main styles */

/* header related styles */
header {
  background: var(--header-gradient-color);
}
nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
nav > ul {
  align-items: center;
  gap: 47px;
  border: 1px solid var(--tooltip1-bg-color);
  padding: 12px 20px;
  border-radius: 39px;
  -webkit-border-radius: 39px;
  -moz-border-radius: 39px;
  -ms-border-radius: 39px;
  -o-border-radius: 39px;
}
nav > ul > li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.125rem;
  line-height: 120%;
}
nav > h3 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
  color: var(--secondary-bg-color);
}
.nav-icon {
  display: none;
}
.nav-icon > p {
  color: var(--color-white);
  font-size: 1.5rem;
}

/* banner related styles */
.banner {
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.banner-left {
  max-width: 520px;
}
.banner-title {
  font-size: 4.8rem;
  line-height: 120%;
  font-weight: 900;
  color: var(--color-white);
  margin-bottom: 28px;
}
.banner-des {
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 28px;
}
#banner-btn-1 {
  margin-right: 14px;
}
.banner-right img {
  width: 90%;
  vertical-align: middle;
}
.banner-right {
  position: relative;
}
.tooltip-1 {
  width: 193px;
  background-color: var(--tooltip1-bg-color);
  padding: 16px 0 16px 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: absolute;
  top: 21%;
  right: 0;
  left: 58%;
}
.tooltip-1 > h4 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: var(--color-white);
  margin-bottom: 5px;
}
.tooltip-1 > p {
  font-size: 0.8rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  color: var(--tooltip-para-color);
}
.tooltip-2 {
  width: 193px;
  background-color: var(--tooltip2-bg-color);
  padding: 16px 0 16px 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: absolute;
  top: 72%;
  left: -30%;
  align-items: center;
  gap: 12px;
}
.tooltip-circle {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.tooltip-2 h4 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: var(--color-white);
  margin-bottom: 5px;
}
.tooltip-2 p {
  font-size: 0.8rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  color: var(--tooltip-para-color);
}

/* habits section related styles */
.habits {
  text-align: center;
}
.habit-cards {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.habit-card {
  width: 231px;
  height: 274px;
}
.habit-card img {
  border: 4px solid rgba(255, 255, 255, 0.189);
  margin-bottom: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.habit-title {
  font-size: 1.125rem;
  line-height: 120%;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 6px;
}
.habit-des {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.3px;
  color: var(--section-para-color);
}

/* motivation section related styles */
.motivation-container {
  background-color: var(--motivation-bg-color);
  padding: 40px 60px;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.motivation-info {
  max-width: 500px;
}
.motivation-para {
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--section-para-color);
  margin-bottom: 34px;
}
.motivation-image img {
  width: 100%;
}

/* exercise section related styles */
.exercise-container .section-des {
  margin: 0;
  margin-bottom: 58px;
}
.exercise-cards {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
}
.exercise-card{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.exercise-card img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
#card-2,
#card-4 {
  grid-column: span 2;
}
#card-1 {
  background-color: rgb(153, 226, 213);
}
#card-2 {
  background-color: rgb(225, 112, 112);
}
#card-3 {
  background-color: #cccccc;
}
#card-4 {
  background-color: #ffffffb6;
}
#card-5 {
  background-color: rgb(156, 217, 134);
}
#card-6 {
  background-color: rgb(151, 171, 224);
}

/* team section related styles */
.team-container .section-title,.section-des{
  text-align: center;
}
.team-cards{
  background-color: var(--tooltip1-bg-color);
  padding: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 280px);
  gap: 20px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.team-card img{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

/* footer section related styles */
footer{
  background-color: var(--tooltip1-bg-color);
  padding: 66px 0 35px 0;
}
.footer-info{
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  padding-bottom: 79px;
  border-bottom: 2px solid var(--tooltip1-bg-color);
}
.footer-logo{
  font-size: 4.375rem;
  font-weight: 800;
  font-style: italic;
  line-height: 120%;
  color: var(--secondary-bg-color);
  margin-bottom: 20px;
}
.footer-des{
  font-size: .875rem;
  line-height: 24px;
  letter-spacing: .3px;
  color: var(--section-para-color);
}
.footer-title{
  font-size: 2rem;
  line-height: 120%;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 39px;
}
.footer-links{
  flex-direction: column;
  gap: 20px;
}
.footer-items{
  list-style: none;
}
.footer-link{
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--section-para-color);
}
.copyright-des{
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: .3px;
  color: var(--section-para-color);
  text-align: center;
  margin-top: 36px;
}


/* Responsive codes */

/* for mobile */
@media screen and (max-width: 576px) {
  .banner,
  .motivation-container {
    flex-direction: column;
  }
  .container {
    padding: 0 16px;
  }
  .navbar {
    padding-top: 20px;
  }
  .navbar ul {
    display: none;
  }
  .nav-icon {
    display: block;
  }

  .banner {
    text-align: center;
  }
  .banner-right img {
    width: 60%;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-left #banner-btn-1 {
    margin-right: 0;
  }
  .banner-left button {
    margin-bottom: 18px;
    padding: 10px 25px;
    font-size: 0.9rem;
  }
  .tooltip-1,
  .tooltip-2 {
    width: 145px;
    height: 74px;
  }
  .tooltip-1 {
    top: 10%;
  }
  .tooltip-2 {
    top: 40%;
    left: 0%;
  }
  .tooltip-1,
  .tooltip-2 {
    padding: 2px 0 0 0;
  }
  .tooltip-1 > h4 {
    font-size: 1.5rem;
    /* font-weight: 900; */
    line-height: 2.5rem;
    letter-spacing: 1px;
    color: white;
  }
  .tooltip-text > h4 {
    font-size: 1.5rem;
  }
  .tooltip-1 p,
  .tooltip-text p {
    font-size: 0.6rem;
  }
  .tooltip-circle {
    width: 25px;
    height: 25px;
  }
  .tooltip-2 {
    padding-left: 8px;
  }

  .habit-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .motivation-container {
    gap: 31px;
    padding: 30px 33px;
  }

  .exercise-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #card-2,
  #card-4 {
    /* grid-column: span 1; */
    grid-column: auto;
  }

  .team-cards{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 250px);
  padding: 20px;
}
.footer-info{
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 30px;
}
}
